@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  display: flex;
  align-items: center;
  justify-content: center ;
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer {
  display: flex;
  align-items: flex-end;
}

.left-links {
  display: flex;
  gap: 16px;
}

.right-links {
  display: flex;
  position: absolute;
  top: 0;
  right: 0%;
  gap: 16px;
  margin-right: 8px;
}
.f-left-links {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  bottom: 0%;
  left: 0%;
  gap: 16px;
}

.f-right-links {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  bottom: 0%;
  right: 0%;
  gap: 16px;
  margin-right: 8px;
}


